@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" value="${item.id}" underline="true"/>
                            <#input id="userid" name="用户id" value="${item.userid}" underline="true"/>
                            <#input id="title" name="标题" value="${item.title}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="address" name="地址" value="${item.address}" underline="true"/>
                            <#input id="thedate" name="计划时间" value="${item.thedate}" underline="true"/>
                            <#input id="range" name="时间范围" value="${item.range}" underline="true"/>
                            <#input id="rangelength" name="时间长度" value="${item.rangelength}" underline="true"/>
                            <#input id="rangetype" name="时间段" value="${item.rangetype}" underline="true"/>
                            <#input id="starttime" name="开始时间" value="${item.starttime}" underline="true"/>
                            <#input id="endtime" name="结束时间" value="${item.endtime}" underline="true"/>
                            <#input id="remindtime" name="提醒时间" value="${item.remindtime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="remindtype" name="提醒类型" value="${item.remindtype}" underline="true"/>
                            <#input id="importantstatus" name="重要程度" value="${item.importantstatus}" underline="true"/>
                            <#input id="isWholeday" name="是否全天" value="${item.isWholeday}" underline="true"/>
                            <#input id="isRepeat" name="是否重复" value="${item.isRepeat}" underline="true"/>
                            <#input id="repeatcount" name="重复次数" value="${item.repeatcount}" underline="true"/>
                            <#input id="isProgress" name="是否展示进度" value="${item.isProgress}" underline="true"/>
                            <#input id="waitStatus" name="完成情况" value="${item.waitStatus}" underline="true"/>
                            <#input id="nowprogress" name="当前进度" value="${item.nowprogress}" underline="true"/>
                            <#input id="createtime" name="创建时间" value="${item.createtime}" underline="true"/>
                            <#input id="updatetime" name="更新时间" value="${item.updatetime}" underline="true"/>
                            <#input id="version" name="保留字段" value="${item.version}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PlanInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PlanInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/schedule/plan/plan_info.js"></script>
@}
