@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
<!--                             <#input id="id" name="主键id" underline="true"/>
                            <#input id="userid" name="用户id" underline="true"/> -->
                            <#input id="title" name="标题" underline="true"/>
                           
	                     <#input id="starttime" name="开始时间" underline="true" 
	                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
	                    <#input id="endtime" name="结束时间" underline="true" 
	                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
	                            
                           
<!--                            <#input id="starttime" name="开始时间" underline="true"/>
                            <#input id="endtime" name="结束时间" underline="true"/>-->
                   		<#input id="remark" name="备注" underline="true"/>
                      	 <#input id="address" name="地址" underline="true"/>
                     	
                </div>

<!--  				 <#input id="remindtime" name="提醒时间" underline="true" type="date"
                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD'})"/> -->
                 
                   

                          <!--  <#input id="remindtime" name="提醒时间" underline="true"/>-->


                <div class="col-sm-6">
               			  <#input id="remindtype" name="提醒类型" underline="true"/>
                            <#input id="importantstatus" name="重要程度" underline="true"/>
                            <#input id="isWholeday" name="是否全天" underline="true"/>
                            <#input id="isRepeat" name="是否重复" />
   <!--                          <#input id="repeatcount" name="重复次数" underline="true"/>
                            <#input id="isProgress" name="是否展示进度" underline="true"/>
                            <#input id="nowprogress" name="当前进度)" underline="true"/> -->
<!--                     <#input id="createtime" name="创建时间" underline="true" type="date"
                            clickFun="laydate({istime: true, format: 'YYYY-MM-DD'})"/>

                    <#input id="updatetime" name="更新时间" underline="true" type="date"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/> -->

<!-- 
                            <#input id="version" name="保留字段" underline="true"/> -->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PlanInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PlanInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/schedule/plan/plan_info.js"></script>
@}
