@layout("/common/_container.html"){

<link href="${ctxPath}/static/js/plugins/layui/css/layui.css"
	rel="stylesheet" />
<div class="ibox float-e-margins">
<script type="text/javascript">
 var item = '${item}';
 var create = '${item.createtime}';
 var waitStatusHidden = true;
 console.log(item);
 console.log(create);
 
 console.log("页面元素");


</script>
    <div class="ibox-content">
        <div class="form-horizontal layui-form	">

            <input type="hidden" id="id" value="${item.id}">
             <input type="hidden" id="textVal" value='${item.text}'>

            <div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label">便签</label>
					<div class="col-sm-9">
						<div id="text" class="editorHeight"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">添加标题</label>
					<div class="col-sm-9">
						<input class="form-control" id="title" name="title" type="text"  value="${item.title}"
							style="border-top: none; border-left: none; border-right: none;">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-9">
					<input type="checkbox" id="isShow" name="isShow" title="展示" >
					<input type="checkbox" id="isTop" name="isTop" title="置顶">
					<input type="checkbox" lay-filter="isWait" id="isWait"
						name="isWait" title="待办"> <input type="checkbox"
						id="waitStatus" name="waitStatus" title="完成" >
					</div>
				</div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NoteInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NoteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
var isWait = '${item.isWait}';
var isShow = '${item.isWait}';
var isTop = '${item.isWait}';
var waitStatus = '${item.waitStatus}';
waitStatusHidden=(isWait=='1')?false:true;

 $("#isWait").attr("checked",(isWait=='1')?true:false);
 $("#isShow").attr("checked",(isShow=='1')?true:false);
 $("#isTop").attr("checked",(isTop=='1')?true:false);
 $("#waitStatus").attr("checked",(waitStatus=='1')?true:false);
 

console.log("页底元素");
console.log("js执行");
</script>

<script type="text/javascript"
	src="${ctxPath}/static/js/plugins/layui/layui.js"></script>
<script type="text/javascript"
	src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="${ctxPath}/static/modular/schedule/note/note_info.js"></script>
@}
