@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                        
                            <#input id="text" name="便签" underline="true"/>
                            (标题自动生成 前10个字，可以加个标题状态)
                            <#input id="title" name="标题" />
                            
                </div>

                <div class="col-sm-6">
             			   <#input id="isShow" name="是否展示"/>
                            <#input id="isTop" name="是否置顶" underline="true"/>
                            <#input id="isWait" name="是否待办" underline="true"/>
                            <#input id="waitStatus" name="代办状态" />     (可以设置 无 待办 完成)
                          
 <!--                            	 <#input id="createtime" name="创建时间" underline="true" 
								clickFun="laydate({istime: true,format: 'YYYY-MM-DD hh:mm:ss'})"/>
								  <#input id="updatetime" name="更新时间" underline="true" 
								clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/> -->
						<!--  <#input id="createtime" name="创建时间" underline="true"/> -->
                        <!--     <#input id="updatetime" name="更新时间" underline="true"/> -->
	                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NoteInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NoteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/schedule/note/note_info.js"></script>
@}
