@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
<script type="text/javascript">
var origin =  top.window.location.origin;
var path =  "${ctxPath}";
var URL = origin
if(path != "" ){
	URL =  URL +"/";
}
URL =  URL +path+"/";
var linkcodeURL = URL+"api/link/${linkcode}"
console.log(linkcodeURL);

</script>
<style>

.four-agileits {
    background: #ff4a43;
    text-align: center;
    padding: 2em 0;
}
.four-agileinfo {
    background: #22beef;
    padding: 2em 0;
    text-align: center;
}
.four-w3ls {
    background: #a2d200;
    padding: 2em 0;
    text-align: center;
}
.four-wthree {
    background: #8e44ad;
    padding: 2em 0;
    text-align: center;
}
/* .four-grid:nth-child(1) {
    padding-left: 0;
}
.four-grid:nth-child(4) {
    padding-right: 0;
} */
.four-grids {
    margin: 2em 0;
    padding:0;
}
.four-grid i.glyphicon {
    color: #fff;
    font-size: 32px;
}
.four-grid h3 {
    font-size: 20px;
    color: #fff;
    margin: 14px 0;
}
.four-grids h4 {
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.four-grid {
   margin-bottom:10px;
}

.four-grids {
    margin: 1em 0;
    
}
.four-grids h4 {
    font-size: 30px;
    color: #fff;
    margin: 0;
}	
</style>
	<div class="row">
	
	<div class="col-sm-12 four-grids">
					<div class="col-md-3 four-grid">
						<div class="four-agileits">
							<div class="icon">
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>共有多少人在用</h3>
								<h4> 0 </h4>
								
							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-agileinfo">
							<div class="icon">
								<i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>共有多少计划被创建</h3>
								<h4>0</h4>

							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-w3ls">
							<div class="icon">
								<i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>您规划的计划</h3>
								<h4>0</h4>
								
							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-wthree">
							<div class="icon">
								<i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>您的便签</h3>
								<h4>0</h4>
								
							</div>
							
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-sm-12">
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<p><strong>最重要提醒：</strong>&nbsp;<br>专属链接是识别您身份的唯一途径，为了您的数据安全，请一定不要公开您的专属链接给他人！切记、切记、切记！&nbsp;&nbsp;<br></p>
				</div>
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<p>重置专属链接：&nbsp;<br>如果您的链接已经泄露，<span  style="">点击</span><a onclick="updateLinkCode()">这里</a>&nbsp;重新生成新的专属链接（旧链接将立即失效！请三思！但数据是不会丢的~）&nbsp;&nbsp;<br></p><p><br></p>
				</div>
				
				
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h3><strong style="color: inherit;">您的专属链接：</strong><a id="linkcode"  href="" target="_blank"></a><span style="color: inherit;">(请收藏此链接，无需再登录到这里)</span></h3><p><br></p>
				</div>
		</div>
	
	<script type="text/javascript">
	function  updateLinkCode(){
		$.ajax({
		    type: "post",
		    contentType: "application/json",
		    url: "${ctxPath}/index/updateLinkCode",//请求后台方法
		    data: null,
		    success: function (date) {
			layer.alert("重置成功");
			
			setTimeout("window.location.reload();",2000)
			
		     },
		    error: function (response) {
		        var r = jQuery.parseJSON(response.responseText);
		        alert("Message: " + r.Message);
		    }
		})
	}
	
	$(function(){
		$("#linkcode").append(linkcodeURL);
		$("#linkcode").attr("href",linkcodeURL);
		getDate();
		
	})
	function getDate(){
		$.ajax({
		    type: "post",
		    contentType: "application/json",
		    url: "${ctxPath}/index/getStatistics",//请求后台方法
		    data: null,
		    success: function (date) {
		   $(".four-grids h4")[0].innerHTML = date.allUserCount; 	 
		   $(".four-grids h4")[1].innerHTML = date.allPlanCount;
		   $(".four-grids h4")[2].innerHTML = date.planCount;
		   $(".four-grids h4")[3].innerHTML = date.noteCount;
		     },
		    error: function (response) {
		        var r = jQuery.parseJSON(response.responseText);
		        alert("Message: " + r.Message);
		    }
		}) 
	}
	</script>
	
		<div class="col-sm-12">
			@for(notice in noticeList){
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					${notice.content}
				</div>
			@}
		</div>
	</div>
</div>
@}
