<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
		<title>我的日程</title>
		<link href="${ctxPath}/static/modular/link/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--	<link href="css/bootstrap.min.css" rel="stylesheet">-->
		<link href="${ctxPath}/static/modular/link/fullcalendar/fullcalendar.min.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/link/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print">
		<link href="${ctxPath}/static/modular/link/jquery-ui-1.10.4.custom/css/base/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/link/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/link/fullcalendar/lib/cupertino/jquery-ui.min.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/link/artDialog/css/ui-dialog.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/link/wickedpicker/dist/wickedpicker.min.css" rel="stylesheet">
		<script src="${ctxPath}/static/modular/link/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
		<script src="${ctxPath}/static/modular/link/fullcalendar/lib/jquery.min.js"></script>
		<script src="${ctxPath}/static/modular/link/fullcalendar/lib/jquery-ui.min.js"></script>
		<script src="${ctxPath}/static/modular/link/fullcalendar/lib/moment.min.js"></script>
		<script src="${ctxPath}/static/modular/link/fullcalendar/fullcalendar.js"></script>
		<script src="${ctxPath}/static/modular/link/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="${ctxPath}/static/modular/link/artDialog/dist/dialog-min.js"></script>
		<script src="${ctxPath}/static/modular/link/bootstrap/js/bootstrap.min.js"></script>
	<!--	<script src="js/bootstrap.js"></script>-->
		<script src="${ctxPath}/static/modular/link/wickedpicker/dist/wickedpicker.min.js"></script>
		<script src="${ctxPath}/static/modular/link/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="${ctxPath}/static/modular/link/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
var origin =  top.window.location.origin;
var path =  "${ctxPath}";
var URL = origin
URL =  URL +path+"/";
ajaxPath = URL+"api"
console.log(URL);

link = top.window.location.href;
arr = link.split("/");
linkcode = arr[arr.length-1];
console.log(linkcode);
</script>
		<link rel="stylesheet" href="${ctxPath}/static/modular/link/js/plugins/layui/css/layui.css">
		<script src="${ctxPath}/static/modular/link/js/plugins/layui/layui.all.js"></script>
		<style>
			body {
				margin: 0;
				padding: 0;
				/*background:#ffddff;*/
				background-image: url(${ctxPath}/static/modular/link/img/bg2.png);
				font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
				font-size: 14px;
			}
			
			#calendar {
				background: white;
				padding: 10px;
				border: gray solid 1px;
				width: 95%;
			}
			
			.blue {
				/*border: blue solid 1px;*/
			}
			
			.flex {
				display: flex;
			}
			
			.flex-center {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			.flex-column {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
			
			.flex-row {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
			}
			
			.flex_x_start {
				justify-content: flex-start;
			}
			
			.flex_x_center {
				justify-content: center;
			}
			/*.flex_x_center{
			display: flex;
		}*/
			
			.flex_y_start {
				align-items: flex-start;
			}
			
			.red {
				/*border: red solid 1px;*/
			}
			
			.nav_div {
				height: 30px;
				background-color: #ddd;
			}
			
			.nav_title {
				width: 60%;
				margin-left: 20%;
			}
			
			.nav_add {
				width: 20%;
			}
			#dialog-form p{
			margin-bottom:10px;
			}
			#noteform p{
			margin-bottom:10px;
			}
			.label{
			
			}
		</style>
	</head>
	<!--<body style="display: flex;justify-content: center;">-->

	<body>
		<!--<div id="page" class="blue" style="width: 1170px ;height: 1080px;display: flex;flex-direction: row;">
				<div id="" class="blue" style="width: 70%;">
					<h3>我的日程</h3>
					
				</div>
				<div id="" class="blue" style="width: 30%;height: 100px;">
					<div id=""></div>
				</div>
				
			</div>
-->
		<div class="layui-container blue">
			<div class="layui-row " style="margin-top: 100px;">
				<div id="schedule" class="layui-col-md9 blue flex-column" >
					<!--					<span style="font-size: 30px;margin-top: 30px;margin-bottom: 10px;  height: 50px;" class="flex-center label label-default">我的日程</span>
-->
					<div id="calendar"></div>
				</div>
				<div id="note" class="layui-col-md3 red  " style="display: flex;flex-direction:column; height: 780px;">

					<div class="blue layui-col-12" style=" border-radius:3px;padding:10px;background: #FFF;border: gray  solid 1px; flex:1;">
						<div class="" style="width: 100%;height: 100%;border: #DDD solid 1px;">
						
						<div class="flex-row nav_div" style="">
							<div class="flex-center nav_title" style="">便签墙</div>
							<div class="flex-center nav_add" onclick="addNote()" style="">添加</div>
						</div>
						<ul id="noteUl" style="width: 80%;margin-left: 10%;margin-top: 20px;">
							<!-- <li style="padding: 5px;">1.今天气不错 -- 5-21</li>
							<li style="padding: 5px;">2.明天去爬山 -- 5-20</li>
							<li style="padding: 5px;">3.记得吃饭-- 5-17</li> -->
						</ul>
						
						</div>
					</div>
					<div class="blue layui-col-12 flex-column" style="height:120px;padding:10px;margin-top: 20px;background: white;border: gray  solid 1px;">
					
					<div class="flex-column" style="width: 100%;height: 100%;border: #DDD solid 1px;">
						
						<div class="flex-center nav_div" style="width: 100%;">
							<div class="flex-center " style="">导航栏</div>
						</div>
						<div class="flex-row " style="flex:1;margin:10px 0 5px 0 ;">
							<button  onclick="link('api/web/home')" style="margin-right: 20px;width:100px" class="btn">官网主页</button>
							<button  onclick="link('')" style="width:100px" class="btn">进入控制台</button>
						</div>
						<div class="flex-row " style="flex:1;margin: 5px 0 10px 0 ;">
							<button  onclick="link('api/web/timeline')" style="margin-right: 20px;width:100px" class="btn">时间轴</button>
							<button  onclick="link('api/web/about')"  style="width:100px" class="btn">关于我们</button>
						</div>
					</div>

					</div>
				</div>
				<!--  <div id="" class="red " style="display: flex;flex-direction:column;width: 200px;height: 300px;">
  		<div class="red " style="width: 100px;height: 100px;"></div>
  		<div class="blue"  style="width: 100px;flex:1"></div>
  </div>-->

			</div>
		</div>

		<!--//弹出框-->
		<div id="set" style="display:none" class="taxt">
			<div id="slider"></div>
			<div style="text-align: center" class="slidertext">
				<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; text-align: center; font-size: 16px;">
			</div>
		</div>
		<div id="edit" style="display: none">
			<p id="edittitle"></p>
			<select id="edittype">
				<option value="">未进行</option>
				<option value="">进行中</option>
				<option value="">已完成</option>
				<option value="">已超时</option>
			</select>
			<p id="edittime"></p>
		</div>
		<div id="dialog-form" style="display:none">
			<form class="form-inline">
				<p>
					<label>添加标题：</label>
					<input type="text" class="form-control" id="title">
					<span>（必填）</span>
				</p>
				<p>
					<label>计划时间：</label>
					<input type="text" class="time"	 id="thedate">
					<label class="checkbox-inline"><input type="checkbox" id="isWholeday">全天</label>
				</p>
				
				<p>
					<label>时间范围：</label>
					<input type="text" class="time"	 id="range">
				
				</p>
				<p>
					
					<label>重要程度：</label>
					<select id="importantstatus" class="select">
									<option  value="1">A  紧急，重要</option>
							             <option  value="2">B  紧急，不重要</option>
							            <option value="3">C  不紧急，重要</option>
							           <option   value="4">D  不紧急，不重要</option>
					</select>
				</p>
				<p class="checkbox check">
					<label class="checkbox-inline"><input type="checkbox" id="isRemind">提醒</label>
					<label class="checkbox-inline"><input type="checkbox" id="isRepeat">重复</label>
				</p>
				<p>
					<label>间隔天数：</label>
					<input type="text" class="form-control" id="repeatSpace">
					<label>重复次数：</label>
					<input type="text" class="form-control" id="repeatCount">
				</p>
				
				<p>
					<label>提醒时间：</label>
					<input type="text" class="time"	 id="remindtime">
				</p>
				<p>
					<label>添加地址：</label>
					<input type="text" class="time"	 id="address">
					<label>添加备注：</label>
					<input type="text" class="time"	 id="remark">
				</p>
			<!-- 	<p>
					<label>添加备注：</label>
					<textarea rows="3"></textarea>
				</p> -->
					
				
			
				<p></p>
			</form>
		</div>
		
		
		<div id="noteform" style="display:none">
			<form class="form-inline">
				<p >
					<label style="width:70px">便签：</label>
					<textarea rows="3" id="textNote"></textarea>
				</p> 
			
				<p>
					<label>添加标题：</label>
					<input type="text" class="form-control" id="titletNote">
				</p>
			
				<p class="checkbox check">
					<label class="checkbox-inline"><input type="checkbox" id="isTopNote">展示</label>
					<label class="checkbox-inline"><input type="checkbox" id="isShowNote">置顶</label>
					<label class="checkbox-inline"><input type="checkbox" id="isWaitNote">待办</label>
				</p>
			<!-- 	<p>
					<label>添加备注：</label>
					<textarea rows="3"></textarea>
				</p> -->
					
				
			
				<p></p>
			</form>
		</div>

		<div id="search" style="display:none">
			<form class="form-inline">
				<p>
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：</label>
					<input type="text" class="sear datepicker">
					<span>至</span>
					<input type="text" class="sear datepicker">
				</p>
				<p>
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：</label>
					<select>
						<option value="">未进行</option>
						<option value="">进行中</option>
						<option value="">已完成</option>
						<option value="">已超时</option>
					</select>
				</p>
				<p>
					<label>事务类型：</label>
					<select>
						<option value="">工作事务</option>
						<option value="">个人事务</option>
					</select>
				</p>
				<p>
					<label>事务内容：</label>
					<input type="text">
				</p>
			</form>
		</div>
	</body>
	
	<script src="${ctxPath}/static/modular/link/js/index.js"></script>
	<script type="text/javascript">
	
		function link(url){
			    	window.location.href='${ctxPath}/'+url;
			    }
		
		$(document).ready(function() {
			//fc初始化
			fcInit();
		});
		
		$(function(){
			
			layui.laydate.render({ elem: '#thedate',format: 'yyyy年MM月dd日',theme: 'molv'});
			layui.laydate.render({ elem: '#range',format: 'HH:mm',theme: 'molv',type: 'time' ,range: true});
			layui.laydate.render({ elem: '#remindtime',format: 'yyyy-MM-dd HH:mm:ss',theme: 'molv' ,type: 'datetime'});
			
			
			//界面自适应
			resize();
			$(window).resize(function(){
				setTimeout(function(){	resize();
			}, 500);
		});
			
			getNote();
			
		})
		
	</script>

</html>